<!DOCTYPE html>
<html>
  <head>
    <title>Hoot</title>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyCUcat2XPHuKAlx1lgBXD07BtwdrVvxlpk&libraries=places" %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script src="https://use.fontawesome.com/7bff2424b0.js"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
